* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body: added color and font-family here and deleted repeats */
body {
    background-color: #d9dcd6;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header: changed from class to element here and in html */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

span {
    color: #d9dcd6;
}

#header-links {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* content-container: changed this id from content to content-container since it is container div */
#content-container {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* content-child-container: changed this class to a content-child-container since it a small container inside the bigger one, it's also being repeated below instead of having a unique name */
.content-child-container {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.content-child-container img {
    max-height: 200px;
}

.content-child-container h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* benefits-container: renamed to show it's a container */
#benefits-container {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
/* benefits-child-conatiner: renamed and condended the unique classes to one name */
.benefits-child-container {
    margin-bottom: 32px;
}

.benefits-child-container h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-child-container img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* footer: changed from class to element here and in html */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}